img{
    
}
.banner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  

  /* TOP SORTA NAV TOP BAR */
 .topbar{
  margin: 15px;
align-items: center;
  display: flex ; 
  justify-content: space-between;
  
  padding: 10px;
 }
 .location-phone-num{
  /* display: inline-block;
  justify-content: flex-end; */
  
  display: flex;
  align-items: center;
  
 }
 .icon{
  display: flex;
  align-items: center;
  justify-content: center;
 }
.right-items{
  display: flex;
  align-items: center;
}

 .location-button{
  color: white!important;
      background-color: red!important;
      border-color: red!important;
      padding:20px 20px 20px 20px;
      margin: 5px;
      border-radius: 1rem;
      align-items: center;
      
     
 }
  .phone-button{
    
      color: white!important;
      background-color: red!important;
      border-color: red!important;
      padding:20px 20px 20px 20px;
      margin: 5px;
      border-radius: 1rem;
      align-items: center;
     
     
  }
a:hover{
  text-decoration: none !important;
  
}
  
.img-icon{
  width: 20px;
}
/* ICON NAV MENU */
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .position-rel{
    position: relative;
    display: flex;
  }
  .menu-list-selector-bar{
   
    flex-direction: row;
    
    justify-content: center;
    justify-content: space-between;
    /* display: flex;
    flex-wrap: nowrap; */
    align-items: center;
    left: 200px;
   
  }
  .nav-text{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    text-align: center ;
  }
  
  /* SEARCH BAR BELOW ICON NAV MENU */
  .search-bar{
    width: 600px;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
    
  }
  
  .search-bar,input {
    text-align: center;
   background-color: rgba(195, 195, 195, 0.6);
    width: 500px;
    height: 20px;
    padding: 5px;
    margin: 0px 5px 0px 0px;
    border-radius: 0.5rem;
  }
  .search-bar, button{
    display: inline;
    height: 20px;
  }

  /* MENU CONTAINER CSS */
  .menu-container{
    align-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
  
      
    }
    ul {
      list-style-type: none;
      
    }  li{
      justify-content: space-between;
     padding: 10px;
     text-align: center;
     display: inline-flex;
    }
  /* DIV CSS FOR MENU BOXES */
  .cric-deal-1{
    display: flex;
    
    margin: 15px;
    box-sizing: border-box;
    
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    border: 1px solid rgb(167, 167, 167);
    width: 350px;
    overflow: hidden;
  }
  .cric-deal-2{
    display: flex;
    
    margin: 15px;
    box-sizing: border-box;
    
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    border: 1px solid rgb(167, 167, 167);
    width: 350px;
    overflow: hidden;
  }
  .item-wrapper{
    display: flex;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
  .menu-img img{
    object-fit: contain;
    margin: 5px;
  }























/* ORDER PAGE CSSS */
body {
    font-family: Arial, sans-serif;
}

.bg {
    height: 100%;
    width: 100%;
    background-color: #ece8e8;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 14px;
}

.title {
    background-color: #fff;
    width: 400px;
    text-align: center;
    margin-left: 450px;
    margin-bottom: 20px;
    color: red;
    border: 6px solid red;
    border-radius: 14px;
}

.product-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 14px;
    margin-top: 10px;
}

.receipt-info {
    margin-bottom: 20px;
}

.order-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product {
    flex: 1;
    margin-right: 20px;
    border-right: 2px dotted #000;
}

.additional-items {
    flex: 2;
    border-right: 2px dotted #000;

}

.additional-item {
    margin-bottom: 10px;
}

.totals {
    flex: 1;
    margin-left: 20px;
}

.payment-type {
    margin-bottom: 20px;
}

.print-button{
    margin-left: 350px;
}
.print-button,
.new-order-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-right: 10px; */
    border: 2px solid transparent;
}

.print-button:hover,
.new-order-button:hover {
    transition: .4s;
    border: 2px solid black;
    color: #000;
    background-color: transparent;
}
.footer{
  margin-top: 22px;
    font-weight: bold;
    text-align: center;
}