/* STYLESHEET CREATED BY WASIF */

.banner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  

  /* TOP SORTA NAV TOP BAR */
 .topbar{
  margin: 15px;
align-items: center;
  display: flex ; 
  justify-content: space-between;
  
  padding: 10px;
  
 }
 .location-phone-num{
  /* display: inline-block;
  justify-content: flex-end; */
  
  display: flex;
  align-items: center;
  
 }
 .icon{
  display: flex;
  align-items: center;
  justify-content: center;
 }
.right-items{
  display: flex;
  align-items: center;
}

 /* .location-button{
  color: white!important;
      background-color: red!important;
      border-color: red!important;
      padding:20px 20px 20px 20px;
      margin: 5px;
      border-radius: 1rem;
      align-items: center;
      text-decoration: none;   
 } */
  .phone-button, .location-button{
    
      color: white!important;
      background-color: red!important;
      border-color: red!important;
      padding:20px 20px 20px 20px;
      margin: 5px;
      border-radius: 1rem;
      align-items: center;
      text-decoration: none;
     }
     .location-button:hover, .phone-button:hover{
        box-shadow: 0 3px 6px rgba(0,0, 0,0.16),0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
    text-decoration: underline;
     }
a:hover{
  text-decoration: none !important;
  
}
  
.img-icon{
  width: 20px;
}
/* ICON NAV MENU */
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .position-rel{
    position: relative;
    display: flex;
  }
  .menu-list-selector-bar{
   
    flex-direction: row;
    
    justify-content: center;
    justify-content: space-between;
    /* display: flex;
    flex-wrap: nowrap; */
    align-items: center;
    left: 200px;
   
  }
  .nav-text{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    text-align: center ;
  }
  
  /* SEARCH BAR BELOW ICON NAV MENU */
  .search-bar{
    width: 600px;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
    
  }
  
  .search-bar,input {
    text-align: center;
   background-color: rgba(195, 195, 195, 0.6);
    width: 500px;
    height: 20px;
    padding: 5px;
    margin: 0px 5px 0px 0px;
    border-radius: 0.5rem;
  }
  .search-bar, button{
    display: inline;
    height: 20px;
  }

  /* MENU CONTAINER CSS */
  .menu-container{
    align-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: auto;
  
      
    }
    ul {
      list-style-type: none;
      
    }  li{
      justify-content: space-between;
     padding: 10px;
     text-align: center;
     display: inline-flex;
    }
  /* DIV CSS FOR MENU BOXES */
  .cric-deal-1{
    display: flex;
    
    margin: 15px;
    box-sizing: border-box;
    
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    border: 1px solid rgb(167, 167, 167);
    width: 350px;
    overflow: hidden;
  }

  .cric-deal-1:hover,.cric-deal-2:hover{
    box-shadow: 0 3px 6px rgba(0,0, 0,0.16),0 3px 6px rgba(0,0,0,0.23);
    
    border: 2px solid #ff7a7a;
  }
  .cric-deal-2{
    display: flex;
    
    margin: 15px;
    box-sizing: border-box;
    
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    border: 1px solid rgb(167, 167, 167);
    width: 350px;
    overflow: hidden;
  }
  .item-wrapper{
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
  .menu-img img{
    object-fit: contain;
    margin: 5px;
  }
  .sticky-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 12px 10px 12px;
    border-radius: 1.1rem;
    cursor: pointer;
    width: 150px;
    height: 80px;
    text-align: center;
    text-decoration: none;
  }
  
  .sticky-button:hover{
    box-shadow: 0 3px 6px rgba(0,0, 0,16),0 3px 6px rgba(0,0,0,23);
   
    text-decoration: underline;
    background-color: rgba(219, 101, 101, 16) ;
  }
  i{
    font-size: 20px !important;
    color: #ff2020;
    padding: 10px;
    border-radius: 50%;
  }
  i:hover{
    box-shadow: 0 3px 6px rgba(219, 37, 37, 0.16),0 3px 6px rgba(0,0,0,0.23);
    
    text-decoration: underline;}






















/* ORDER PAGE CSSS STYLESHEET CREATED BY SOHAIB */
body {
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}


.bg {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    
}

.container2 {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #f13f3f;
    border-radius: 14px;
    
}

.title {
    background-color: #fff;
    width: 400px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    color: red;
    border: 6px solid red;
    border-radius: 14px;
    margin-top: 10px;;
}

.product-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ff5d5d;
    border-radius: 14px;
    margin-top: 10px;
}

.receipt-info {
    margin-bottom: 20px;
}

.order-details {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.product {
    flex: 1;
    margin-right: 20px;
    border-right: 2px dotted #000;
}

.additional-items {
    flex: 2;
    border-right: 2px dotted #000;

}

.additional-item {
    margin-bottom: 10px;
}

.totals {
    flex: 1;
    margin-left: 20px;
}

.payment-type {
    margin-bottom: 20px;
}

.print-button{
    margin-left: 350px;
}
.print-button,
.new-order-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin-right: 10px; */
    border: 2px solid transparent;
    height: auto;
}

.print-button:hover,
.new-order-button:hover {
    transition: .4s;
    border: 2px solid black;
    color: #000;
    background-color: transparent;
    
}
.footer{
  margin-top: 22px;
    font-weight: bold;
    text-align: center;
}

/* CREATED BY MOHIB */

.container {

    margin-top: 8%;
    max-width: 600px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.input{
    height: 20px;
}

.box {
    width: 10em;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-right: 15px;
}

label {
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
}
button :hover{
    color:aqua;
}
.order-btn{
    color: white!important;
      background-color: red!important;
      border-color: red!important;
      padding:20px 20px 20px 20px;
      margin: 5px 5px 5px 5px;
      border-radius: 1rem;
      align-items: center;
      text-decoration: none;
      left: 100px;
      
}
@media only screen and (max-width: 576px)
{
  .banner{
    width:50%;
  }
}