h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px ;
    color: rgb(247, 3, 3);
}
.container {

    margin-top: 8%;
    max-width: 500px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.box {
    width: 10em;
    height: 100px;
    background-color: #e0e0e0;
    border-radius: 8px;
    margin-right: 15px;
}

label {
    color: #333333;
    margin-top: 10px;
    margin-bottom: 10px;
}
button :hover{
    color:aqua:
}
