img{
    
}
.banner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .position-rel{
    position: relative;
    display: flex;
  }
  .menu-list-selector-bar{
   
    flex-direction: row;
    
    justify-content: center;
    justify-content: space-between;
    /* display: flex;
    flex-wrap: nowrap; */
    align-items: center;
    left: 200px;
   
  }
  .nav-text{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    text-align: center ;
  }
  .search-bar{
    width: 600px;
    margin: 4px auto;
    text-align: center;
    display: inline-block;
    
  }
  
  .search-bar,input {
    text-align: center;
   background-color: rgba(195, 195, 195, 0.6);
    width: 500px;
    height: 20px;
    padding: 5px;
    margin: 0px 5px 0px 0px;
    border-radius: 0.5rem;
  }
  .search-bar, button{
    display: inline;
    height: 20px;
  }

.menu-container{
  align-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: auto;

    
  }
  ul {
    list-style-type: none;
    
  }  li{
    justify-content: space-between;
   padding: 10px;
   text-align: center;
   display: inline-flex;
  }
 .topbar{
  margin: 15px;
align-items: center;
  display: flex ; 
  justify-content: space-between;
  
  padding: 10px;
 }
 .location-phone-num{
  /* display: inline-block;
  justify-content: flex-end; */
  
  display: flex;
  align-items: center;
  
 }
 .icon{
  display: flex;
  align-items: center;
  justify-content: center;
 }
.right-items{
  display: flex;
  align-items: center;
}

 .location-button{
  color: white!important;
      background-color: red!important;
      border-color: red!important;
      padding:20px 20px 20px 20px;
      margin: 5px;
      border-radius: 1rem;
      align-items: center;
      
     
 }
  .phone-button{
    
      color: white!important;
      background-color: red!important;
      border-color: red!important;
      padding:20px 20px 20px 20px;
      margin: 5px;
      border-radius: 1rem;
      align-items: center;
     
     
  }
a:hover{
  text-decoration: none !important;
}
  
.img-icon{
  width: 20px;
}
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cric-deal-1{
    display: flex;
    
    margin: 15px;
    box-sizing: border-box;
    
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    border: 1px solid rgb(167, 167, 167);
    width: 350px;
    overflow: hidden;
  }
  .cric-deal-2{
    display: flex;
    
    margin: 15px;
    box-sizing: border-box;
    
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    border: 1px solid rgb(167, 167, 167);
    width: 350px;
    overflow: hidden;
  }
  .cricket-deals-item{
    display: flex;
    box-sizing: border-box;
    
  }
  .menu-img img{
    object-fit: contain;
    margin: 5px;
  }

  /* Order Receipt Page */
